@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background-color: beige;
	font-family: 'Roboto', sans-serif;
}

.carousel {
	height: 480px;
	width: 450px;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.433);
	overflow: hidden;
}

.image-container {
	display: flex;
	transform: translateX(0);
	transition: transform 0.8s ease-in-out;
}

.image-container div {
	position: relative;
	display: flex;
	justify-content: center;
}

.image-container div .text {
	position: absolute;
	bottom: 0;
	margin-bottom: 5%;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.438);
	color: #fff;
	border-radius: 14px;
	transform: translateY(0);
}

.slide-down {
	transform: translateY(500px);
	transition: transform 0.9s ease-in;
}

img {
	height: 450px;
	width: 450px;
	object-fit: cover;
}

.btn-container {
	display: flex;
	justify-content: space-between;
	height: 30px;
	background-color: #000;
}

button {
	width: 49.5%;
	background-color: rgb(24, 24, 24);
	color: #fff;
	cursor: pointer;
}

button:hover {
	opacity: 0.7;
}

button:focus {
	outline: none;
}
